server {
    server_name  42Server;
    listen       8082 192.168.1.1:8080 700;
    host         127.0.0.1;
    root         data/www/Pages/;
    index        index.html;
    error_page 404 /ErrorPages/404notFound.html 401 /ErrorPages/404notFound.html;
    body_size 55;

    location /error {
        root        data/www/Pages;
        methods     GET POST DELETE;
        index       400badRequest.html;
    }

    location /queso {
        root        data/www/Pages;
        methods     GET POST DELETE;
        index       400badRequest.html;
    }
}
